{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Location{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}">
    <label for="address">Address</label>
    <textarea name="address" id="address">{{ request.form['address'] }}</textarea>
    <input type="submit" value="Save">
  </form>
{% endblock %}