{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Location{% endblock %}</h1>
{% endblock %}

{% block content %}

<article class="post">
    <header>
        <div>
            <p class="body">{{ data['name'] }}</p>

        </div>
    </header>
</article>
{% endblock %}
