{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Locations{% endblock %}</h1>
{% if session.get('twitter_screen_name') %}
<a class="action" href="{{ url_for('locations.create') }}">New Location</a>
{% endif %}
{% endblock %}

{% block content %}


{% for post in data %}
<article class="post">
    <header>
        <div>
            <h1><a class="action" href="{{ url_for('locations.get', id=post['id']) }}">{{ post['name'] }}</a></h1>
            <div class="about">{{ post['address'] }}</div>
        </div>
        {% if session.get('users_id') == post['users_id'] %}
          <a class="action" href="{{ url_for('locations.update', id=post['id']) }}">Edit</a>
        {% endif %}
    </header>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}
