{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create Ticket Categories{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}">
    <label for="price">Price</label>
    <input name="price" id="price" value="{{ request.form['price'] }}">
    <label for="description">Description</label>
    <textarea name="description" id="description" value="{{ request.form['description'] }}"></textarea>
    <input type="submit" value="Save">
  </form>

{% endblock %}

