{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New Event{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>
    <label for="start">Start at</label>
    <input type="datetime-local" name="start" id="start" value="{{ request.form['start'] }}" required>
    <label for="end">Until</label>
    <input type="datetime-local" name="end" id="end" value="{{ request.form['end'] }}" required>
    <label for="location">Location</label>
    <select name="location" id="location">
        {% for r in data %}
        <option value="{{ r.id}}">{{r.name}}</option>
        {% endfor %}
    </select>
    <label for="description">Description</label>
    <textarea name="description" id="description">{{ request.form['description'] }}</textarea>
    <input type="submit" value="Save">
</form>
{% endblock %}