{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{data['name']}}{% endblock %}</h1>

{% endblock %}
<div class="about">at {{ data['location'] }} on {{ data['start'].strftime('%Y-%m-%d') }}</div>
{% block content %}
<article class="post">
    <header>
        <div>
            <p>Location : {{ data['location'] }}</p>
            <p>Date : {{ data['date_start'] }} - {{ data['date_end'] }}</p>
            <p>Time : {{ data['time_start'] }} - {{ data['time_end'] }}</p>
            <p class="body">{{ data['details'] }}</p>
        </div>
    </header>

    <footer>
        <div>
            <h3>Ticket Categories</h3>
            <ul>
                {% for r in data['tickets'] %}
                <li>{{ r.name }} : {{ "Rp{:,}".format(r.price) }}</li>
                {% autoescape false %}
                    {{ r.description.replace('\n', "<br/>") }}
                {% endautoescape %}
                {% endfor %}
            </ul>
            {% if session.get('twitter_screen_name')%}
            <p class="body"><a href="{{ url_for('events.post_to_twitter', id=data['id']) }}">Share to twitter</a></p>
            {% endif %}
        </div>
    </footer>

</article>
{% endblock %}
