{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Events{% endblock %}</h1>
{% if session.get('twitter_screen_name') %}
<a class="action"href="{{ url_for('events.create') }}">+ New Event</a>
{% endif %}
{% endblock %}

{% block content %}
{% for post in data %}
<article class="post">
    <header>
        <div>
            <h1><a class="action" href="{{ url_for('events.get', id=post['id']) }}">{{ post['name'] }}</a></h1>
            <div class="about">at {{ post['location'] }} on {{ post['start'] }}</div>
        </div>
        {% if session.get('users_id') == post['users_id'] %}
          <a class="action" href="{{ url_for('events.update', id=post['id']) }}">Edit</a>
        {% endif %}
    </header>
    <p class="body">{{ post['details'] }}</p>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}
