{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}data{% endblock %}</h1>
{% if g.screen_name %}
<a class="action" href="{{ url_for('events.create') }}">New</a>
{% endif %}
{% endblock %}

{% block content %}
<pre>
{{ data }}

{% endblock %}
