{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Update Ticket{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ data['name'] }}">
    <label for="price">Price</label>
    <input name="price" id="price" value="{{ data['price'] }}">
    <label for="description">Description</label>
    <textarea name="description" id="description" >{{ data['description'] }}</textarea>
    <input type="submit" value="Update">
  </form>

{% endblock %}

