{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Update Event{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ data['event']['name'] }}" required>
    <label for="start">Start at</label>
    <input type="datetime-local" name="start" id="start" value="{{ data['event']['start'] }}" required>
    <label for="end">Until</label>
    <input type="datetime-local" name="end" id="end" value="{{ data['event']['end'] }}" required>
    <label for="location">Location</label>
    <select name="location" id="location">
        {% for r in data['locations'] %}
        <option value="{{ r.id}}" {{ "selected" if r.id == data['event']['locations_id'] else '' }}>{{r.name}}</option>
        {% endfor %}
    </select>
    <label for="description">Description</label>
    <textarea name="description" id="description">{{ data['event']['details'] }}</textarea>
    <input type="submit" value="Save">
</form>

<header>
    <h1>Ticket Categories</h1>
    <a class="action" href="{{url_for('events.ticket_create', id=data['event']['id'])}}">Add</a>
</header>
{% if data['ticket']|length > 0 %}
<style>
table {
    border-collapse: collapse;
    width:50%;
    margin-top : 20px;
}
table input{
    margin:0!important;
}
table, th, td {
    border-bottom: 1px solid black;
    text-align : left;
    padding-left : 5px
}
</style>
<table>
    <tr>
        <th width="40%">Name</th>
        <th width="40%">Price</th>
        <th  width="20%" colspan="2">Action</th>
    </tr>
    {% for r in data['ticket'] %}
    <tr>
        <td>{{r['name']}}</td>
        <td>{{r['price']}}</td>
        <td>
            <form action="{{ url_for('events.ticket_update', id=r.events_id, ticket_id=r.id) }}" method="GET">
                <input type="submit" value="Edit">
            </form>
        </td>
        <td>
            <form action="{{ url_for('events.ticket_delete', id=r.events_id, ticket_id=r.id) }}" method="POST">
                <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}

{% endif %}
{% endblock %}

