{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>
        Sign in with twitter.
    <p>
    <a href="{{ url_for('twitter.login') }}"><img src="{{
        url_for('static', filename='sign-in-with-twitter-gray.png') }}" alt="sign in"></a>
{% endblock %}
