<!doctype html>
<title>{% block title %}{% endblock %} - Loket</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1><a href="{{ url_for('events.index') }}">Loket</a></h1>
    <ul>
        {% if session.get('twitter_screen_name') %}
        <li><span>{{ session.get('twitter_screen_name') }}</span>
        <li><a href="{{ url_for('logout') }}">Log Out</a>
            {% else %}
        <li><a href="{{ url_for('signin') }}">Log In</a>
            {% endif %}
    </ul>
</nav>

<nav>
    <ul>
        <li>
            <a href="{{ url_for('events.index') }}">All Events</a>
        </li>
        {% if session.get('twitter_screen_name') %}
        <li>
            <a href="{{ url_for('locations.index') }}">Locations</a>
        </li>
        {% endif %}
    </ul>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>